.favorites-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .favorites-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .song-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: #f3f3f3; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  }
  
  .song-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .song-details {
    margin-top: 10px;
  }
  
  .song-details h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .song-details p {
    font-size: 14px;
    margin: 5px 0;
  }
  